#-----------------------------------------------------------------------
# Application local files
#-----------------------------------------------------------------------

/dist/
*.js.min

#-----------------------------------------------------------------------
# Developer shit
#-----------------------------------------------------------------------

/.local/
/nbproject/
/logfile
Spotlight-V100
ehthumbs.db
Thumbs.db
.DS_Store
.Trashes
